body {
    margin: 0px;
}

header, nav, footer {
    background-color: rgb(0, 119, 119);
    margin: 0px;
    padding: 30px;
    text-align: center;
}

main {
    background-color: aqua;
    width: 60%;
    margin: auto;
    padding: 30px 120px 30px 120px;
}

pre {
    margin-left: -40px;
    font-family:'Times New Roman', Times, serif;
}